// This file contains the key and secret pairs used by Gate One's API authentication method.
{
    "*": {
        "gateone": {
            "api_keys": {
                "{{ GATEONE_API_KEY }}": "{{ GATEONE_API_SECRET }}"
            }
        }
    }
}
